button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border-radius: 2em;
  text-align: center;
  transition: all 0.2s;
  box-sizing: border-box;

  &.delete {
    background-color: #282c34;
    border: 0.16em solid rgba(192, 61, 98, 0);
    color: white;
  }
  &.search {
    background-color: #61dafb;
    border: 0.16em solid rgba(255, 255, 255, 0);
    color: #282c34;
  }
  &.delete:hover:enabled {
    border-color: rgba(255, 255, 255, 1);
  }
  &.search:hover:enabled {
    border-color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}
